<section id="contact" class="contact">
    <div class="d-flex flex-column align-items-center">

        <!-- Header -->
        <div class="mt-5 mb-3 d-flex flex-column align-items-center">
            <div class="badge bg-secondary w-auto rounded-pill px-4 py-2 mb-3 animate animate--down">
                Get in touch
            </div>

            <p class="d-flex align-items-center justify-content-center text-center animate animate--up delay-1">
                What’s next? Feel free to reach out if you’re looking for a developer,
                have a question, or simply want to connect.
            </p>

        </div>

        <!-- Contact details -->
        <div class="d-flex align-items-center animate animate--up delay-2">
            <div class="d-flex align-items-center gap-2">
                <a href="mailto:darshanvaghadiya55@gmail.com" target="_blank" rel="noopener noreferrer"
                    class="text-decoration-none socials">
                    <i class="bi bi-envelope"></i>
                    darshanvaghadiya55@gmail.com
                </a>
            </div>
        </div>

        <!-- Social intro -->
        <p class="mt-5 animate animate--up delay-3">
            You may also find me on these platforms
        </p>

        <!-- Social links -->
        <div class="d-flex gap-4 animate animate--up delay-4">
            <a href="https://github.com/darshanvaghadiya55-code" target="_blank" rel="noopener noreferrer"
                aria-label="Visit my GitHub profile" class="socials fs-4">
                <i class="bi bi-github" aria-hidden="true"></i>
            </a>

            <a href="https://www.linkedin.com/in/darshan-vaghadiya-full-stack-developer-397392301/" target="_blank"
                rel="noopener noreferrer" aria-label="Visit my LinkedIn profile" class="socials fs-4">
                <i class="bi bi-linkedin"></i>
            </a>

            <a href="mailto:darshanvaghadiya55@gmail.com" aria-label="Send me an email" class="socials fs-4">
                <i class="bi bi-envelope-fill" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</section>