<section id="contact" class="contact">
    <div class="contact__header">
        <span class="contact__badge">Get in touch</span>
        <p class="contact__subtitle">
            What’s next? Feel free to reach out if you’re looking for a developer,
            have a question, or simply want to connect.
        </p>
    </div>

    <div class="contact__details">

        <!-- Email -->
        <div class="contact__item">
            <i class="bi bi-envelope"></i>
            <a href="mailto:darshanvaghadiya55@gmail.com">
                darshanvaghadiya55@gmail.com
            </a>
            <button class="contact__copy" data-copy="darshanvaghadiya55@gmail.com" aria-label="Copy email">
                <i class="bi bi-clipboard"></i>
            </button>
        </div>
    </div>

    <p class="contact__social-text">
        You may also find me on these platforms
    </p>

    <div class="contact__socials">
        <a href="https://github.com/darshanvaghadiya55-code" target="_blank" rel="noopener noreferrer"
            aria-label="Visit my GitHub profile" class="">
            <i class="bi bi-github" aria-hidden="true"></i>
        </a>

        <a href="https://www.linkedin.com/in/darshan-vaghadiya-full-stack-developer-397392301/" target="_blank"
            rel="noopener noreferrer" aria-label="Visit my LinkedIn profile">
            <i class="bi bi-linkedin"></i>
        </a>


        <a href="mailto:darshanvaghadiya55@gmail.com" aria-label="Send me an email" target="_blank"
            rel="noopener noreferrer">
            <i class="bi bi-envelope-fill" aria-hidden="true"></i>
        </a>
    </div>
</section>