<section id="hero" class="hero">
    <div class="row align-items-center m-0">
        <div class="col-12 col-lg-6 col-xl-7 hero__text mb-3">
            <h1 class="fs-1 fw-bold animate animate--up">
                Hi, I’m Darshan Vaghadiya 👋
            </h1>

            <p class="fs-6 animate animate--up delay-1 mt-3">
                I am a web developer who enjoys building clean, reliable, and scalable web applications. I focus on
                understanding real-world problems and turning them into simple, efficient digital solutions that are
                easy to use and maintain.
            </p>

            <p class="fs-6 animate animate--up delay-2">
                I believe good software is not just about writing code, but about creating experiences that are
                secure,
                performant, and future-ready. My approach is centered on clean architecture, thoughtful design
                decisions, and long-term maintainability.

            </p>

            <!-- Meta -->
            <div class="d-flex gap-1 flex-column mb-3 animate animate--up delay-3">
                <span class="d-flex align-items-center gap-2">
                    <i class="bi bi-geo-alt-fill"></i>
                    Ahmedabad, India
                </span>

                <span class="d-flex align-items-center gap-2">
                    <i class="bi bi-check-circle-fill text-success"></i>
                    Available for new projects
                </span>
            </div>

            <!-- Socials -->
            <div class="d-flex gap-4 animate animate--up delay-4">
                <a href="https://github.com/darshanvaghadiya55-code" target="_blank" rel="noopener noreferrer"
                    aria-label="Visit my GitHub profile" class="socials fs-4">
                    <i class="bi bi-github" aria-hidden="true"></i>
                </a>

                <a href="https://www.linkedin.com/in/darshan-vaghadiya-full-stack-developer-397392301/" target="_blank"
                    rel="noopener noreferrer" aria-label="Visit my LinkedIn profile" class="socials fs-4">
                    <i class="bi bi-linkedin"></i>
                </a>


                <a href="mailto:darshanvaghadiya55@gmail.com" aria-label="Send me an email" target="_blank"
                    rel="noopener noreferrer" class="socials fs-4">
                    <i class="bi bi-envelope-fill" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <div class="col-12 col-lg-6 col-xl-5 text-center mb-3">
            <img src="assets/img/hero.png" class="rounded-4 img-fluid animate animate--right"
                alt="Darshan – Web Developer">
        </div>

    </div>
</section>