<section id="hero" class="hero">
    <div class="hero__container">
        <div class="row align-items-center gy-5">

            <!-- Content -->
            <div class="col-12 col-md-7">
                <h1 class="hero__title">
                    Hi, I’m Darshan 👋
                </h1>

                <p class="hero__text">
                    I am a web developer who enjoys building clean, reliable, and scalable web applications. I focus on
                    understanding real-world problems and turning them into simple, efficient digital solutions that are
                    easy to use and maintain.
                </p>

                <p class="hero__text">
                    I believe good software is not just about writing code, but about creating experiences that are
                    secure,
                    performant, and future-ready. My approach is centered on clean architecture, thoughtful design
                    decisions, and long-term maintainability.
                </p>

                <div class="hero__meta">
                    <span class="hero__meta-item">
                        <i class="bi bi-geo-alt-fill"></i>
                        Ahmedabad, India
                    </span>

                    <span class="hero__meta-item hero__meta-item--available">
                        <i class="bi bi-check-circle-fill"></i>
                        Available for new projects
                    </span>
                </div>

                <div class="hero__socials">
                    <a href="https://github.com/darshanvaghadiya55-code" target="_blank" rel="noopener noreferrer"
                        aria-label="Visit my GitHub profile" class="">
                        <i class="bi bi-github" aria-hidden="true"></i>
                    </a>

                    <a href="https://www.linkedin.com/in/darshan-vaghadiya-full-stack-developer-397392301/"
                        target="_blank" rel="noopener noreferrer" aria-label="Visit my LinkedIn profile">
                        <i class="bi bi-linkedin"></i>
                    </a>


                    <a href="mailto:darshanvaghadiya55@gmail.com" aria-label="Send me an email" target="_blank"
                        rel="noopener noreferrer">
                        <i class="bi bi-envelope-fill" aria-hidden="true"></i>
                    </a>
                </div>
            </div>

            <!-- Image -->
            <div class="col-12 col-md-5 text-center">
                <img src="assets/img/hero.png" class="hero__image" alt="Darshan – Web Developer" loading="lazy">
            </div>

        </div>
    </div>
</section>