<section id="navbar">
    <nav class="navbar navbar-expand-md">
        <div class="navbar__logo fw-bold">Darshan | Full-Stack Developer</div>
    
        <div class="d-flex align-items-center ms-auto gap-3">
            <ul class="navbar-nav gap-3">
                <li class="nav-item">
                    <a class="nav-link" href="#home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#skills">Skills</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#project">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">Contact</a>
                </li>
            </ul>
    
            <button id="theme-toggle" class="btn btn-sm theme-toggle" aria-label="Toggle theme">
                <i class="bi bi-moon-fill"></i>
            </button>
        </div>
    </nav>
</section>
