.about {
    padding: 80px 60px;
    background-color: var(--bg-color-secondary);
    color: var(--text-color);
}

.about-image {
    max-height: 650px;
    object-fit: contain;
}

@media (max-width: 767px) {
    .about {
        padding: 10px !important;
    }
}