.contact {
    padding: 90px 60px;
    background-color: var(--bg-color-primary);
    text-align: center;
}


/* Responsive */
@media (max-width: 768px) {
    .contact {
        padding: 10px;
    }

    .contact__item {
        font-size: 1rem;
    }
}
