.hero {
    padding: 70px 60px;
    background-color: var(--bg-color-primary) !important;
}

.hero__text {
    color: var(--text-color) !important;
}

@media (max-width: 767px) {
    .hero {
        padding: 10px;
    }
}