.project {
    padding: 80px 60px;
    background-color: var(--bg-color-secondary);
}

.project__container{
    padding-left: 60px ;
    padding-right: 60px;
}

.lh__30px{
    line-height: 30px;
}
@media (max-width: 991px) {
    .project {
        padding: 10px;
    }

    .project__container{
        padding-left: 0px ;
        padding-right: 0px;
    }
}